<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Configuration de l'appender pour la console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Configuration pour enregistrer les requêtes et réponses des endpoints -->
        <Logger name="org.springframework.web.servlet.mvc.method.annotation" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Configuration pour les réponses réussies -->
        <Logger name="org.springframework.web.servlet.mvc.method.annotation" level="info">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Configuration pour les erreurs ou exceptions -->
        <Logger name="org.springframework.web.servlet.mvc.method.annotation" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>